
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }
  
  @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
  
body{
	background-color:#101322;
}

  * {
    background-color: inherit;
    font-family: 'Pretendard-Regular';
    color:#d4d9e1;
  }
  
  header {
  	max-width: 700px;
    margin: 0 auto;
  }
  
  footer {
    color: #A4A2A2;
    font-size: 12px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
  }
  
  nav a {
    text-decoration: none;
    color: #98A4B7;
  }
  
  nav i {
    font-size: 28px;
  }
  
  
  
#contents {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
}

.nameTag{
	position: relative;
	justify-content: center;
	align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.back-btn{
	top:auto;
	left:5px;
	position: absolute;
}

/* 이미지 파일 간격 조절 */
.img-margin{
	margin: 10px 10px;
}









