

  * {
    background-color: inherit;
    font-family: 'Pretendard-Regular';
    color:#d4d9e1;
  }
  
.nameTag{
	justify-content: center;
	align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* 이미지 파일 간격 조절 */
.img-margin{
	margin: 10px 10px;
}









