@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


.backgroudBox {
    width: 700px;
    margin: 50px auto;
    position: relative;
}

.pageName {
    width: 75px;
    margin: 10px auto;
    font-size: 20;
    font-weight: bold;
    color: #D4D9E1;
}

.communittySearch {
    display: flex;
    margin: 0px 50px 30px 50px;
    justify-content: space-between;
}

.communittySearch > input {
    width: 480px;
    height: 50px;
    background-color: #25304A;
    border: none;
    border-radius: 8px;
}

.communittySearch > button {
    width: 70px;
    height: 50px;
    background-color: #25304A;
    color: #D4D9E1;
    border: 0px;
    border-radius: 8px;
}

/*스와이프 관련 CSS*/
.swiper-container {
    position: relative;
    overflow: hidden;
    width: 100%;
  }

.swiper-slide {
    position: relative;
    width: 100%;
}

.swiper-pagination {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.swiper-button-next {
    right: 10px;
}

.swiper-button-prev {
    left: 10px;
}


/*커뮤니티 인기글 섹션*/
.popular_community {
    margin-bottom: 20px;
}

.card-container {
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.card {
    background-color: #25304A;
    width: 182px;
    height: 125px;
    color: #FFFFFF;
    padding: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    font-family: 'Pretendard-Regular', sans-serif;
    font-size: 15px;
    color: #FFFFFF;
}

.card-title {
    background-color: #25304A;
    font-size: 18px;
    font-weight: bold;
}

.card-footer {
    background-color: #25304A;
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    color: #888;
}

.author {
    background-color: #25304A;
    margin-left: 5px;
    margin-top: 15px;
}

.btnGroup {
    display: flex;
    justify-content: space-between;
}

.categoryGroup {
    display: flex;
    justify-content: space-between;
    width: 205px;
    margin-bottom: 22px;

}

.categoryGroup > button {
    width: 60px;
    height: 25px;
    border: none;
    border-radius: 16px;
    font-size: 12px;
    color: #D4D9E1;
}

.writeBtn {
    width: 113px;
    height: 25px;
    background-color: #4263EB;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.postAndUserInfo {
    display: flex;
    justify-content: space-between;
}

/* .postList {
    flex: 1;
} */

.postWrap {
    background-color: #172036;
    border: 1px solid blue;
    padding-top: 10px;
    padding-left: 18px;
    width: 500px;
    height: 500px;
    border: none;
    border-radius: 8px;
    margin-bottom: 20px;
}

.postWrap > p {
    font-size: 14px;
    background-color: #172036;
}

.postWrap > h2 {
    background-color: #172036;
}

.postWrap > img {
    width: 480px;
    height: 260px;
    max-width: 480px;
    max-height: 260px;
}

.iconGroup {
    margin-top: 10px;
    display: flex;
    height: 24px;
    background:none;
}

.iconGroup > div {
    background: none;
    margin-right: 10px;
}

.iconGroup > div > i {
    font-size: 24px;
    background-color: #172036;
}

.iconGroup > div > span {
    background:none;
}

.bi-suit-heart {
    cursor: pointer;
}

.sideGroup {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 100vh;
    width: 200px;
    margin-left: 20px;
}

.userInfoAndLoginBtn {
    display: flex;
    flex-direction: column;
    background:none;
    
}

.userInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #172036;
    border: none;
    border-radius: 8px;
    width: 150px;
    height: 150px;
    font-size: 12px;
    margin-bottom: 20px;
    
}

.myWrited {
    background: none;
}

.userInfoID {
    margin-left: 10px;
    background: none;
}

.myPost, .myComment {
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 10px;
}

.myPost > div,p,a, .myComment > div,p,a {
    background: none;
}

.loginBtn {
    background-color: #4263EB;
    width: 115px;
    height: 48px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
}

.bi-arrow-up-circle {
    font-size: 30px;
    cursor: pointer;
    margin:  0px auto 20px;
}
