@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

body {
    background-color: #101322;
    font-family: 'Pretendard-Regular';
    color: white;
}

/* ê³µí†µ hr */
/* °øÅë hr */
hr {
    width: 650px;
    border: 1px solid #586A85;
    margin: 10px auto 10px auto;
}

footer {
    color: #A4A2A2;
    font-size: 12px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 700px;
    margin: 0px auto;
}

nav a {
    text-decoration: none;
    color: #98A4B7;
}

nav i {
    font-size: 28px;
}

/* ? „ì²? ì»¨í…Œ?´?„ˆ */
/* °øÅë ¹é±×¶ó¿îµå  */
.backgroudBox {
    width: 700px;
    margin: 50px auto 20px auto;
}

/* ?’¤ë¡œê??ê¸? ë²„íŠ¼ div */
.backBtn {
    margin: 30px 0px 10px 20px;
}

/* ?’¤ë¡œê??ê¸? ë²„íŠ¼ */
.bi-chevron-left {
    cursor: pointer;
    font-size: 30px;
    color: #D4D9E1;
}

/* ê²Œì‹œê¸? ì»¨í…Œ?´?„ˆ */
.postWrap {
    display: flex;
    flex-direction: column;
    background: #172036;
    width: 660px;

    border: none;
    border-radius: 8px;
    margin: 0px auto 20px auto;
}

/* ê²Œì‹œê¸? ?—¤?” (?‘?„±, ? œëª?, ê³µìœ ?•˜ê¸? ë²„íŠ¼) */
.postHeader {
    padding-left: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* ê²Œì‹œê¸? ? œëª? */
.postHeader > h2 {
    max-width: 500px;
}

/* ê²Œì‹œê¸? ?‘?„±? */
.postWriter {
    max-width: 500px;
}


/* ê³µìœ ?•˜ê¸? ë²„íŠ¼ */
.postHeader > i {
    cursor: pointer;
    margin-top: 5px;
    font-size: 40px;
    transform: rotateY( 180deg );
    background: #172036;
    margin-right: 10px;
}

/* ê²Œì‹œê¸? ?‘?„±? */
.postWriter {
    padding-left: 10px;
    font-size: 14px;
    background: #172036;
}

/* ê²Œì‹œê¸? ? œëª? */
.titleAndIcon > h2 {
    padding-left: 10px;
    background: #172036;
}

/* ê²Œì‹œê¸? ?´ë¯¸ì?? */
.postWrap > img {
    margin: 24px auto;
    max-width: calc(100% - 10px);
    border: none;
}

/* ê²Œì‹œê¸? ?…?Š¤?Š¸ */
.postContent {
    margin-top: 20px;
    padding-left: 10px;
    line-height: 1.5;
}

/* ì¡°íšŒ, ?Œ“ê¸?, ì¢‹ì•„?š” ?•„?´ì½? ê·¸ë£¹ */
.iconGroup {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    height: 24px;
    background:none;
}

/* ?•„?´ì½? ê·¸ë£¹ */
.iconGroup > div {
    padding-left: 10px;
}

/* ì¡°íšŒ, ?Œ“ê¸?, ì¢‹ì•„?š” ?•„?´ì½? */
.iconGroup > div > i {
    font-size: 24px;
    background-color: #172036;
}

/* ì¢‹ì•„?š” ë²„íŠ¼ */
.bi-suit-heart {
    cursor: pointer;
}

/* ?Œ“ê¸? ì»¨í…Œ?´?„ˆ */
.commentWrap {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 8px;
    width: 660px;
    background-color: #172036;
    margin: 0px auto;
}

/* ì´? ?Œ“ê¸? ?ˆ˜ */
.totalComment {
    margin-top: 20px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 16px;
}

/* ?‘?„±?œ ?Œ“ê¸? (?•„?´?””, ?Œ“ê¸?, ì¢‹ì•„?š” ?•„?´ì½?, ????Œ“ê¸? ë§í¬, ë²„íŠ¼) */
.commentAndBtn {
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    line-height: 1.5;
}

/* ?Œ“ê¸? ?•„?´?””, ?‚´?š© ?¬ê¸? ì¡°ì ˆ */
.commentIDAndContent {
    width: 500px;
}

/* ?Œ“ê¸? ?‘?„±? */
.commentID {
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* ?Œ“ê¸? ?‚´?š© */
.commentContent {
    margin-left: 10px;
    font-size: 14px;
}

/* ì¢‹ì•„?š”, ????Œ“ê¸? div */
.likeAndRecomment {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 14px;
}

/* ????Œ“ê¸? ë²„íŠ¼ */
.recommentBtn {
    margin-left: 5px;
    font-size: 12px;
    color: #586A85;
    cursor: pointer;
}

/* ?Œ“ê¸? ?ˆ˜? •, ?‚­? œ?•˜ê¸? ë²„íŠ¼ */
.commentBtnGroup > button{
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #586A85;
    color: #FFFFFF;
    font-size: 8px;
    text-align: center;
}

/* ????Œ“ê¸? ì»¨í…Œ?´?„ˆ */
.recommentWrap {
    display: flex;
    margin: 10px 10px 10px 25px;
    justify-content: space-between;
}

/* ?™”?‚´?‘œ ?•„?´ì½? row ì²˜ë¦¬ë¥? ?œ„?•´ ?‚¬?š©*/
.recommentGroup {
    display: flex;
    flex-direction: row;
}

/* ?Œ“ê¸? ?…? ¥ ê·¸ë£¹ */
.commentInputGroup {
    /* ?¬ì§??…˜ fixed ?‹œ ?‚¬?š© */
    /* position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%); */
    padding-left: 20px;
    width: 680px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto 30px;
}

/* ?Œ“ê¸? ?…? ¥ì°? */
.commentInput {
    border: none;
    border-radius: 8px;
    background-color: #586A85;
    width: 530px;
    height: 40px;
    color: #FFFFFF;
    padding-left: 5px;
}

/* ?Œ“ê¸? ?‘?„±?•˜ê¸? ë²„íŠ¼ */
.commentInputBtn {
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    width: 100px;
    height: 40px;
    margin-left: 20px;
    background-color: #4263EB;
}