/*공통 적용 css*/

.title {
    font-size: 30px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 50px;
}
  
/*뒤로가기 버튼, 뮤지컬 제목*/
.title-container {
  display: flex;
  align-items: center;
}

.back-button svg{
  width: 40px;
  height: 40px;
  color: #FFFFFF;
}

.musical-title {
  color: #ffffff;
  margin-left: 220px;
  font-size: 30px;

}

/*뮤지컬 포스터 및 상세 정보*/
.musical-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.musical-info img {
  width: 180px;
  height: 250px;
  margin-right: 20px;
}

.musical-info table {
  border-collapse: collapse;
  margin-right: 20px;
}

.musical-info td {
  padding: 5px 15px;
  color: #FFFFFF;
}

/*좋아요, 찜하기 버튼*/
.like-jjim-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  border-bottom: 2px solid #ccc;
}

.like-jjim-btn .button {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
  padding-bottom: 10px;
}

.like-jjim-btn .button svg {
  width: 40px;
  height: 40px;
  color: #98A4B8;
  padding: 5px 100px;
}

.like-jjim-btn .button span {
  color: #98A4B8;
  font-size: 15px;
  margin-top: 5px;
}

/*스와이프 관련 CSS*/
.swiper-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.swiper-slide {
position: relative;
width: 200px;
}

.swiper-slide {
  position: relative;
  width: 100%;
}

.swiper-pagination {
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.swiper-button-next {
  right: 10px;
}

.swiper-button-prev {
  left: 10px;
}

/*출연 배우 리스트*/
.casting{
  margin-bottom: 20px;
}

.profile-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: center;
  flex-shrink: 0;
  height: 150px;
}

.casting-actor {
  background-color: #25304A;
  width: 70px;
  height: 70px;
  margin-right: 20px;
  border-radius: 70%;
  color: #FFFFFF;
}

/*유튜브 영상*/
.youtube-api{
  margin-bottom: 20px;
}

.youtube-container {
  display: flex;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: center;
  flex-shrink: 0;
}

.youtube {
  background-color: #25304A;
  width: 530px;
  height: 300px;
  margin-right: 10px;
}