
  * {
    background-color: inherit;
    font-family: 'Pretendard-Regular';
    color:#d4d9e1;
  }


/* 뒤로가기 + 대문 div */
.nameTag{
	justify-content: center;
	align-items: center;
    margin: auto auto;
    display: flex;
    flex-wrap: wrap;
}

/* 개수 + 정렬방식 div */
.sortTag{
	position: relative;
	justify-content: right;
	align-items: right;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

/* Board List Card */
.myBoardCard{
	background-color : #172036;
	border-radius:10px;
	
	margin-block-start: 1em;
    margin-block-end: 1em;
    display:flex;
}

/* 카드 */
.card{
	width: 80%;
	padding: 10px 20px;
	border-radius:inherit;
}

/* 기간 font */
.date{
	font-size:7px;
}

/* 뒤로가기 버튼 */
.back-btn{
	top:auto;
	left:5px;
	position: absolute;
}

/* 글 쓴 개수 span */
.boardNum{
	font-size:5px;
	top:auto;
	left:5px;
	position: absolute;
}

div{
	border-radius:inherit;
}









