/* title */
.title {
    margin-bottom: 30px;
}

.title .name {
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #EFEFEF;
    font-size: 30px;
    font-weight: 700;
}

/* ID */
.ID {
    margin: 10px 0px;
    padding: 0px 20px;
}

.ID p {
    font-size: 22px;
    font-weight: 400;
    color: #D4D9E1;
    margin: 0%;
}

.ID input {
    width: 640px;
    height: 48px;
    background-color: #101322;
    border-radius: 8px;
    border: 1px solid #25304A;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
    margin-bottom: 20px;
}

/* 비밀번호 */
.data_input {
    margin: 10px 0px;
    padding: 0px 20px;
}

.data_input p {
    font-size: 22px;
    font-weight: 400;
    color: #D4D9E1;
    margin: 0%;
}

.data_input input {
    width: 640px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #25304A;
    background-color: #25304A;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
    color: #EFEFEF;
    margin-bottom: 20px;
}

/* 저장 */
.btn {
    text-align: center;
}

.submit_btn {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 700px;
    height: 48px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    background-color: #4263EB;
    color: #D4D9E1;
    font-size: 20px;
    font-weight: 700;
}