/* title */
.title {
    margin-bottom: 30px;
}

.title .name {
    padding-top: 30px;
    text-align: center;
    text-decoration: none;
    color: #EFEFEF;
    font-size: 30px;
    font-weight: 700;
}

/* profile img Change */
.profile {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.profile_cut {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 70%;
}

.profile img {
    position: absolute;
    border-radius: 70%;
    background-color: #586A85;
}

.profile .change {
    width: 150px;
    height: 30%;
    opacity: 90%;
    position:absolute;
    text-align: center;
    top: 70%;
    background-color: #172036;
    cursor: pointer;
    border: none;
    font-size: 22px;
    font-weight: 400;
    color: #D4D9E1;
}

/* ID */
.ID {
    margin: 10px 0px;
    padding: 0px 20px;
}

.ID p {
    font-size: 22px;
    font-weight: 400;
    color: #D4D9E1;
    margin: 0%;
}

.ID input {
    width: 640px;
    height: 48px;
    background-color: #101322;
    border-radius: 8px;
    border: 1px solid #25304A;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
    margin-bottom: 20px;
}

/* 닉네임 */
.nickname {
    margin: 10px 0px;
    padding: 0px 20px;
}

.nickname p {
    font-size: 22px;
    font-weight: 400;
    color: #D4D9E1;
    margin: 0%;
}

.nickname input {
    width: 640px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #25304A;
    background-color: #25304A;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
    color: #EFEFEF;
    margin-bottom: 20px;
}

/* 저장 */
.btn {
    text-align: center;
}

.submit_btn {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    width: 700px;
    height: 48px;
    margin: 0 auto;
    border: none;
    border-radius: 8px;
    background-color: #4263EB;
    color: #D4D9E1;
    font-size: 20px;
    font-weight: 700;
}