@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");


body {
  background-color: #101322;
  font-family: 'Pretendard-Regular';
}

header {
  display: flex;
  flex-direction: column;
  color: white;
}

header #logo{
  margin-top: 30px;
}

footer{
  width: 100%;
  position: absolute;
  bottom: 0;
}
.footer {
  color: #A4A2A2;
  font-size: 12px;
  text-align: center;
}

nav {
  margin-top: 10px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  color: #D4D9E1;
}
nav a {
  text-decoration: none;
  color: #98A4B7;
}
nav i {
  font-size: 24px;
}
nav div{
  font-size: 10px;
}

.bi-chevron-left {
  position: absolute;
  left: 30px;
  margin-top: 30px;
  font-size: 30px;
  color: #D4D9E1;
}

.hidden{
  display: none;
}