@charset "UTF-8";
.signupText {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    color: white;
}

.signupText>p {
    color: #25304A;
    font-size: 17px;
}

.info_input {
    width: 640px;
    height: 48px;
    background-color: #172036;
    border-radius: 8px;
    border-style: none;
    font-size: 20px;
    font-weight: 400;
    padding: 0px 10px;
    margin-bottom: 20px;
    color: #D4D9E1;
}

.clauseBox {
    margin-top: 30px;
}

.clauseWrap {
    color: #D4D9E1;
    font-size: 13px;
    width: 660px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.signupBtn {
    margin-top: 30px;
    color: #D4D9E1;
    font-size: 16px;
    font-weight: bolder;
    width: 660px;
    height: 50px;
    border-style: none;
    border-radius: 8px;
    background-color: #3B4869;
}

.signupBtn:hover {
    background-color: #4263EB;
}

.signupBtn[disabled] {
    opacity: 0.6;
    pointer-events: none;
}

.openBtn:hover {
    font-weight: 900;
}

button {
    font-size: 13px;
    border-style: none;
    background-color: inherit;
    color: #D4D9E1;
    font-weight: 400;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
}

.modal .bg {
    width: 55%;
    height: 75%;
    background-color: #172036;
    border-radius: 16px;
}

.modalBox {
    position: absolute;
    background-color: #172036;
    width: 700px;
    height: 500px;
    padding: 15px;
    overflow: auto;
}

.modalBox button {
    font-weight: 700;
    font-size: 20px;
    display: block;
    width: 100px;
    margin: 60px auto 0px;
}

.modalBox button:hover {
    color: #4263EB;
}

.hidden {
    display: none;
}