/*글 작성 폼에 대한 css입니다.*/

* {
    background-color: inherit;
    font-family: 'Pretendard-Regular';
    color:#d4d9e1;
  }

.nameTag{
	justify-content: center;
	align-items: center;
	  margin: auto auto;
  display: flex;
  flex-wrap: wrap;
}

.submit-btn{
	width: 113px;
    height: 25px;
    background-color: #4263EB;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 48px;
}

.back-btn{
  margin-right:100px;
}

.title{
	width:680px;
	height:30px;
    resize: vertical;
    margin-top: 10px;
}

.content{
	width:680px;
	height:400px;
    resize: vertical;
    margin-top: 10px;
}

#musicalInfoContainer {
  list-style: none;
  color: #D4D9E1;
  padding: 0;
  max-height: 400px;
  width: 687px;
  overflow-y: auto;
}

#musicalInfoContainer::-webkit-scrollbar {
  width: 0; /* Set the width of the scrollbar to 0 */
  display: none; /* Hide the scrollbar */
}


#searchBox {
	width: 687px;
	height: 36px;
	border: 1px solid #D6D6D6;
	
	}

/* text + img */
div#editor {
  padding: 16px 24px;
  border: 1px solid #D6D6D6;
  width: 680px;
  height: 400px;
  border-radius: 4px;

  min-height: 400px;
  max-height: 100vh;
  overflow-y: auto;
}
/* text + img */
#editor-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
/* text + img */
#img-selector {
  display: none;
}
/* text + img */
#editor img {
  max-width: 700px;
}